


/* Header */

/* Header Media Queries */
@media only screen and (max-width: 767px) {
    #icons{
        padding-right: 0px !important;
    }
    #head-text{
        text-align: center !important;
    }
    .head-btn{
        margin-bottom: 20px;
    }
}

/* Media Queries End */

#header{
    background-color: #316DC3;
    padding-top: 15px;
}
#icons{
    display: inline-block;
    padding-right: 200px;
}
.icon{
    margin-left: 25px;
    color: white;
   font-size: 16px;
   cursor: pointer;
}
.head-btn{
    font-size: 11px;
}

/* Nav Bar */

/* Nav Bar Media Queries */

@media only screen and (max-width: 767px) {
   #logo{
     margin-top: 20px;
   }
}


#navbar{
    margin-top: 15px;
    background-color: #f7f8fa;
    font-size: 13px;
    font-weight: 600;
    color: #333333;
}
.navbar-light .navbar-nav .nav-link {
    color: #333333;
}
.dropdown-menu {
    transition: 3s linear all;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.submenu-item:hover > .dropdown-menu {
    display: block;
  }
  
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.active-btn{
    background-color: #316dc3;   
    border-radius: 30px;
      padding: 0 6px;
}
.nav-style{
    transition:400ms ease-in-out all;
    
}
.nav-style:hover{
    background :#316dc3;
    border-radius: 30px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
/* Nav Bar Ends */

/* Marquee */
#cont-marquee{
    margin-top: 15px;
    background-color: white;
    
}
#marq-style{
    height: 30px;
    width: 90%;

}
marquee > p {
    margin-top: 6px;
}

/* Marquee Ends */

/* Introduction Starts */
/* Intorduction Media Queries */

@media only screen and (max-width: 767px) {
    #intro-para{
        margin: 0 10px !important;
    }
}

#intro h2{
    text-transform: uppercase;
    font-weight: 600;
}
#intro {
    margin-top: 50px;
    background-color: #f7f8fa;
}
#intro-para{
    font-size: 14px;
    line-height: 1.9;
    margin: 10px 170px;
    color: #666666;
    margin-bottom: 120px;
}
/* Intorduction Ends */

/* Stats Start */

/* Media Queries */

@media only screen and (max-width: 767px) {
    #stats{
        padding-top: 30px !important;
        border-radius: 30px;
        margin-top: 20px;
    }

}
#stats{
    background-color: #2755e9  ;
    padding-top: 60px;
    color: white;
}
#stats img{
    height: 40px;
    width: 40px;
}
.num{
    font-size: 50px;
    font-weight: 600;
}
.month{
    color: #00ff00;
    font-size: 18px;
    font-weight: 600;
}
#stats p{
    font-size: 14px;
    font-weight: 600;
}

/* Stats End */

/* Work Section */

@media only screen and (max-width: 767px) {
    #work{
        padding: 0;
        margin-left: 0 !important;
    }
    .container-fluid{
        padding: 0;
    }
    .card{
        margin-top: 0!important;
        margin-bottom: 15px!important;
    }
    
}

#work{
    background-color: #f7f8fa;
    margin-top: 50px;
    margin: 0 10px;
    padding-top: 40px;
}
.work-types{
    padding-top: 50px;
}

.card-img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.card{
    margin-top: 30px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    width: 360px;
    height: 185px;
}
.card p{
    margin-top: 20px;
    color: #316dc3;
    font-size: 19px;
    font-weight: 600;
}
/* Work Ends */

/* Mission Starts */

/* Media Queries */
@media only screen and (max-width: 767px) {
    #mission{
        margin-top: 0!important;
        padding-left: 0!important;
        
    }
    #mission-heading{
        text-align: center;
    }
    #mission-right{
        margin-top: 30px!important;
        text-align: center;
    }
    #mission-right h3{
        text-align: center;
    }
   
}


#mission{
    margin-top: 50px;
    background-color: white;
    padding-top: 70px;
    padding-left: 60px;
   
}
#mission h3{
    color: #3e76c7;
}
.mission-card{
    width: 360px;
    height: 73px;
    background-color: #f7f8fa;
    box-shadow: none;
    box-sizing: border-box;
    border:1px solid #eeeeee;
}
#mission-right marquee{
    font-size: 14px;
    color: #7e7e7e;
    line-height: 1.7;
    margin-left: 20px;
    text-align: left;
}

/* Mission Ends */

/* Image Gallery Starts */
/* Media Queries */
@media only screen and (max-width: 767px) {
    .img-gallery{
        margin-bottom: 0!important;
    }
}

    #img-gallery{
        background-color: white;
        padding-top: 90px;
    }
    .img-gallery{
        
        margin-top: 40px;
        margin-bottom: 120px;
    }
    

/* Image Gallery Ends */

/* Footer */
@media only screen and (max-width: 767px) {
    #footer{
        text-align: center;
    }
    .to-top{
        font-size: 20px!important;
    }
}
#footer{
    background-color: #25272e;
    color: #bbb;
    padding: 90px 90px;
    border-radius: 10px;
    font-size: 14px;
}
.phone{
    color: #427900;
    font-size: 11px;
}
.gloab{
    margin-left: 18px;
}

.foot-icon{
    font-size: 14px;
    margin:10px;
    background-color: #316DC3;
    color: white;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}
#foot-icons{
    margin-top: 15px;
}
/* Scroll To Top */

.to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #7e7e7e;
    opacity: .3;
    color: #fff;
    padding: 9px 12px;
    border-radius: 20%;
    font-size: 30px;
}
.to-top:hover{
    background: #808080 ;
}