/* Header */
#header{
    background-color: #316DC3;
    height: 50px;
    padding-top: 15px;
}
#icons{
    display: inline-block;
    padding-right: 200px;
}
.icon{
    margin-left: 35px;
    color: white;
   font-size: 16px;
   cursor: pointer;
}
.head-btn{
    font-size: 11px;
}

/* Nav Bar */

#navbar{
    margin-top: 15px;
    background-color: #f7f8fa;
    font-size: 13px;
    font-weight: 600;
    color: #333333;
}
.navbar-light .navbar-nav .nav-link {
    color: #333333;
}
.dropdown-menu {
    transition: 3s linear all;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.submenu-item:hover > .dropdown-menu {
    display: block;
  }
  
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.active-btn{
    background-color: #316dc3;   
    border-radius: 30px;
      padding: 0 6px;
}
.nav-style{
    transition:400ms ease-in-out all;
    
}
.nav-style:hover{
    background :#316dc3;
    border-radius: 30px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
/* Nav Bar Ends */

/* Marquee */
#cont-marquee{
    margin-top: 15px;
    background-color: white;
    
}
#marq-style{
    height: 30px;
    width: 90%;

}
marquee > p {
    margin-top: 6px;
}

/* Marquee Ends */

/* Introduction Starts */

#intro h2{
    text-transform: uppercase;
    font-weight: 600;
}
#intro {
    margin-top: 50px;
    background-color: #f7f8fa;
}
#intro-para{
    font-size: 14px;
    line-height: 1.9;
    margin: 10px 170px;
    color: #666666;
    margin-bottom: 120px;
}
/* Intorduction Ends */

/* Stats Start */

#stats{
    background-color: #2755e9  ;
    padding-top: 80px;
    color: white;
}
#stats img{
    height: 40px;
    width: 40px;
}
.num{
    font-size: 50px;
    font-weight: 600;
}
.month{
    color: #00ff00;
    font-size: 18px;
    font-weight: 600;
}
#stats p{
    font-size: 14px;
    font-weight: 600;
}

/* Stats End */

/* Work Section */

#work{
    background-color: #f7f8fa;
    margin-top: 50px;
    margin: 0 10px;
}
.work-types{
    padding-top: 50px;
}

.card-img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.card{
    margin-top: 30px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    width: 360px;
    height: 185px;
}
.card p{
    margin-top: 20px;
    color: #316dc3;
    font-size: 19px;
    font-weight: 600;
}
/* Work Ends */

/* Mission Starts */

#mission{
    margin-top: 50px;
    background-color: white;
    padding-top: 70px;
    padding-left: 60px;
    margin-bottom: 90px;
}
#mission h3{
    color: #3e76c7;
}
.mission-card{
    width: 360px;
    height: 73px;
    background-color: #f7f8fa;
    box-shadow: none;
    box-sizing: border-box;
    border:1px solid #eeeeee;
}
#mission-right marquee{
    font-size: 14px;
    color: #7e7e7e;
    line-height: 1.7;
    margin-left: 20px;
    text-align: left;
}

/* Mission Ends */

/* Image Gallery Starts */